<!DOCTYPE html>
<html>
<head>
	<title>Karl Adrian Lapuz</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css"></link>
</head>
<body>
	<div id ="top-layer">
<!-- 		<div class="ui attached inverted segment">
  			<div class="ui fixed attached inverted secondary pointing menu">
  				<div class="ui container">
  					<div class="header item"> <i class="leaf icon"></i>
                	Karl Lapuz
            		</div>
  					<a href="landing.html" class="item active">Home</a>
    				<a href="about.html" class="item">About</a>
    				<a href="projects.html" class="item">Projects</a>
  				</div>
			</div>
		</div> -->
		<div class="ui center aligned container">
			<div class="ui secondary pointing inverted large compact menu">
	  			<a href="/" class="item active"><i class="home icon"></i>HOME</a>
	    		<a href="about" class="item"><i class="info icon"></i>ABOUT</a>
	    		<a href="projects" class="item"><i class="lightbulb icon"></i>PROJECTS</a>
		  	</div>
		</div>
		<div id ="home-contents" class="ui container basic segment">
			<img class="ui circular fluid medium image" src="karllapuz.png">
			<h1 id="name">Karl Adrian Lapuz</h1>
			<h1 id="subtitle">Software Developer | Graphic Designer</h1>
			<div class="ui container">
				<div class="socials">
					<span>
						<a href="mailto:karllapuz25@gmail.com">
							<i class="envelope outline icon"></i>
						</a>
					</span>
					<span>
						<a target="_blank" href="http://www.linkedin.com/in/karllapuz">
							<i class="linkedin in icon"></i>
						</a>
					</span>
					<span>
						<a target="_blank" href="http://www.github.com/karllapuz">
							<i class="github icon"></i>
						</a>
					</span>
					<span>
						<a target="_blank" href="http://www.instagram.com/karlxadrian">
							<i class="instagram icon"></i>
						</a>
					</span>
					<span>
						<a target="_blank" href="http://www.twitter.com/karlxadrian">
							<i class="twitter icon"></i>
						</a>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="ui fixed inverted vertical footer segment">
		<div class="ui container">
			<div class="ui center aligned container fluid">
				<span id="copyright"> &copy; Karl Lapuz 2018</span>	
			</div>
		</div>
	</div>

<!-- 	<ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul> -->

</body>
</html>