<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"></link>
</head>
<body>
    <div class="ui center aligned container">
		<div class="ui secondary pointing inverted large compact menu">
  			<a href="/" class="item"><i class="home icon"></i>HOME</a>
    		<a href="about" class="item"><i class="info icon"></i>ABOUT</a>
    		<a href="projects" class="item active"><i class="lightbulb icon"></i>PROJECTS</a>
	  	</div>
	</div>

    <div class="ui contents container">
		<div class="ui raised very padded text container segment">
			<div class="ui header">
				<a target="_blank" href="https://blooming-crag-36672.herokuapp.com/campgrounds">YelpCamp</a>
			</div>
			<p>
				A full-stack website application which lets a user view and submit campgrounds, and leave reviews. It has complete user authentication and authorization with RESTful routing.
			</p>
			<div class="ui small horizontal list">
				<div class="item">
					<a target="_blank" href="https://github.com/karllapuz/yelp-camp">
						<button class="circular ui icon button">
							<i class="large github icon">
							</i>
						</button>
					</a>
				</div>
				<div class="item">
					<button class="ui green basic button">HTML</button>
				</div>
				<div class="item">
					<button class="ui orange basic button">CSS</button>
				</div>
				<div class="item">
					<button class="ui purple basic button">Bootstrap</button>
				</div>
				<div class="item">
					<button class="ui black basic button">Express</button>
				</div>
				<div class="item">
					<button class="ui blue basic button">Node.js</button>
				</div>
				<div class="item">
					<button class="ui olive basic button">Passport.js</button>
				</div>
				<div class="item">
					<button class="ui brown basic button">MongoDB</button>
				</div>
			</div>
		</div>
		<div class="ui raised very padded text container segment">
			<div class="ui header">
				Jedi
			</div>
			<p>
				An experimental meta-programming language that supports the features present in a modern programming language. It has the ability to store data types, do simple arithmetic expressions, call functions, make objects, and throw exceptions.
			</p>
			<div class="ui small horizontal list">
				<div class="item">
					<a target="_blank" href="https://github.com/karllapuz/jedi-language">
						<button class="circular ui icon button">
							<i class="large github icon">
							</i>
						</button>
					</a>
				</div>
				<div class="item">
					<button class="ui grey basic button">Scala</button>
				</div>
				<div class="item">
					<button class="ui violet basic button">Eclipse</button>
				</div>
			</div>
		</div>
		<div class="ui raised very padded text container segment">
			<div class="ui header">
				Mancala
			</div>
			<p>
				A two-player interactive board game using MVC pattern in Java. It has the complete logic and mathematical portion of the game with GUI.
			</p>
			<div class="ui small horizontal list">
				<div class="item">
					<a target="_blank" href="https://github.com/karllapuz/cs151Mancala">
						<button class="circular ui icon button">
							<i class="large github icon">
							</i>
						</button>
					</a>
				</div>
				<div class="item">
					<button class="ui teal basic button">Java</button>
				</div>
				<div class="item">
					<button class="ui pink basic button">Swing</button>
				</div>
				<div class="item">
					<button class="ui violet basic button">Eclipse</button>
				</div>
			</div>
		</div>
		<div class="ui raised very padded text container segment">
			<div class="ui header">
				Job Schedule
			</div>
			<p>
				A job scheduling program that utilizes graphs and topological sorting and shortest path that has the ability to log tasks with dependencies and priorities and updates it real-time.
			</p>
			<div class="ui small horizontal list">
				<div class="item">
					<a target="_blank" href="https://github.com/karllapuz/job-schedule">
						<button class="circular ui icon button">
							<i class="large github icon">
							</i>
						</button>
					</a>
				</div>
				<div class="item">
					<button class="ui teal basic button">Java</button>
				</div>
				<div class="item">
					<button class="ui violet basic button">Eclipse</button>
				</div>
			</div>
		</div>
	</div>

	<div class="ui inverted vertical footer segment">
		<div id ="footer-contents" class="ui center aligned container">
			<div class="ui center aligned container fluid">
				<span class="align-left" id="copyright"> &copy; Karl Lapuz 2018</span>
				<div class="ui inverted small divided links">
					<a href="mailto:karllapuz25@gmail.com">
						<i class="envelope outline icon"></i>
					</a>
					<a target="_blank" href="http://www.linkedin.com/in/karllapuz">
						<i class="linkedin in icon"></i>
					</a>
					<a target="_blank" href="http://www.github.com/karllapuz">
						<i class="github icon"></i>
					</a>
					<a target="_blank" href="http://www.instagram.com/karlxadrian">
						<i class="instagram icon"></i>
					</a>
					<a target="_blank" href="http://www.twitter.com/karlxadrian">
						<i class="twitter icon"></i>
					</a>
				</div>	
			</div>
		</div>
	</div>

</body>
</html>